@import url(moohon_homepage.css);

.header{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 35px;
  font-style: "돋움";
  font-weight:
}
.slideshow{
  width: 700px;
  height: 400px;
  margin: 15px;
  background-color: gray;
}

.left{
  float: left;
  margin-left:350px;
}
.left1{
  position:relative;
  width: 300px;
  height: 100px;
  background-color:hsl(0, 0%, 90%);
  margin-bottom: 20px;
}
.left2{
  position:relative;
  margin-bottom: 40px;
  width: 300px;
  height: 100px;
  background-color: hsl(0, 0%, 90%);
}
.up{
  background-color:  gray;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0;
  height:45px;
  font-size: 20px;
}
p{
  margin-top: 0;
}
.right{
  position: realative;
  margin-bottom: 40px;
  margin-right: 350px;
  background-color: hsl(0, 0%, 90%);
  height:240px;
  width:350px;
  float:right;
}
table{
  text-align: center;
  width:720px;
  height:160px;
}
.phone_num{

  text-align: center;
  width:170px;
  height:30px;
  background-color: hsl(0, 0%, 90%);
  float:right;
  margin-top: 25px;
  margin-right: 250px;
  margin-bottom: 20px;
  position: relative;
}
.box{
  position:absolute;
  width:40px;
  height:30px;
  margin:0;
  background-color: #F5DA81;
}

.tg  {
  border-collapse:separate;
  border-spacing:0;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  /*border-style:solid;*/
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-width:1px;
  word-break:normal;
  background-color: hsl(0, 0%, 90%);
}
.tg .tg-uys7{
  border-color:inherit;
  text-align:center}
  .many{
    text-align:center;
  }
  .tr{
    border-color:white;
  }
  .today{
    position:absolute;
    margin:20px;
    width:310px;
    height:200px;
    background-color: white;
  }
  .year, .location{
    position:absolute;
    margin:15px;
    width:270px;
    height:70px;
    background-color: white;
  }
