@import url(moohon_homepage2.css);

.header{
  position:relative;

}
.background{
  width:800px;
  height:600px;
}
.in{
  width:1000px;
  background-color: white;
}
.unit{
  font-size: 20px;
  margin: 50px;
  margin-left:120px;
  float: left;
}
#intro{
  margin-left: 300px;
}
